# zipped file containing both the validation and the train set
gender-classification-dataset.zip
# train set
data/Training
# validation set
data/Validation
gender_detection
model/logs_2022*
model/checkpoint